*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #eee;
}
.left-content{
    width: 70%;
}
.right-content{
    width: 30%;
}
.box{
    width: 80%;
    margin: auto;    
}
.full_content{
      display: flex;
}
input{
    width: 20%;
}
.user-detail{
    text-transform: uppercase;
}

/*small size divice */
@media(max-width:991px){
    .box{
        width: 100%;
        margin: auto;
      }
      .full_content{
          display: inline;
      }

      .left-content{
          width: 100%;
      }
      .right-content{
          width: 48%;
      }
      table{
          height: 140px;
      }
      input{
        width: 30%;
      }



}
.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }